body {
  background: #E9EBEE;
}
.title {
  text-align: center;
}
.friends {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.friend {
  background: white;
  padding: 5px;
  margin: 5px;
  width: 300px;
}