body {
  background: #E9EBEE;
}
.form {
  display: flex;
  flex-direction: column;
}
.input {
  width: 200px;
  margin: 5px auto;
  text-align: center;
}
.button {
  width: 100px;
  margin: 5px auto;
}
.title {
  text-align: center;
}
.friends {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.friend {
  background: white;
  padding: 5px;
  margin: 5px;
  width: 300px;
}
.addForm {
  border: 1px solid black;
  width: 40vw;
  margin: 50px auto;
}
.addCont {
  display: flex;
  flex-direction: column;
}